include ../crumb

mixin case-preview(props)
	- const { title, crumb, logo, email, date, background } = props;

	div.case-preview
		div.case-preview__container.container
			div.case-preview__crumbs.crumbs.crumbs--alternate
				+crumb('Home', 'index.html')
				+crumb('Портфолио', 'index.html')
				+crumb(crumb)
			h1.case-preview__title.title!= title
			div.case-preview__project-info
				picture.case-preview__logo
					source(media="(min-width: 2500px)", srcset=`images/content/${logo}@3x.webp`, type="image/webp")
					source(media="(min-width: 2500px)", srcset=`images/content/${logo}@3x.jpg`)
					source(media="(min-width: 1300px)", srcset=`images/content/${logo}@2x.webp`, type="image/webp")
					source(media="(min-width: 1300px)", srcset=`images/content/${logo}@2x.jpg`)
					source(srcset=`images/content/${logo}.webp`, type="image/webp")
					img(src=`images/content/${logo}.jpg`, alt="Logo")
				a.case-preview__email.case-preview__email--main(href=`mailto:${email}`)!= email
				time.case-preview__date(datetime=date)!= date
				picture.case-preview__background(aria-hidden="true")
					source(media="(min-width: 2500px)", srcset=`images/content/${background}@3x.webp`, type="image/webp")
					source(media="(min-width: 2500px)", srcset=`images/content/${background}@3x.jpg`)
					source(media="(min-width: 1300px)", srcset=`images/content/${background}@2x.webp`, type="image/webp")
					source(media="(min-width: 1300px)", srcset=`images/content/${background}@2x.jpg`)
					source(srcset=`images/content/${background}.webp`, type="image/webp")
					img(src=`images/content/${background}.jpg`, alt="")
			a.case-preview__email.case-preview__email--secondary(href=`mailto:${email}`)!= email
			a.case-preview__go-task(href="#case-task", aria-label="Go to task")
				svg(width="40", height="40", aria-hidden="true")
					use(xlink:href="images/sprite.svg#case-preview-arrow")
