mixin step-v1(props)
	- const { title, description, image } = props;

	li.case-step.case-step--v1
		h3.case-step__title.case-step__title--v1!= title
		div.case-step__description.case-step__description--v1!= description
		picture.case-preview__logo.case-step__logo--v1
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.png`)
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@2x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@2x.png`)
			source(srcset=`images/content/${image}.webp`, type="image/webp")
			img(src=`images/content/${image}.png`, alt="Фон")

mixin step-v2(props)
	- const { title, description, image } = props;

	li.case-step.case-step--v2
		h3.case-step__title.case-step__title--v2!= title
		div.case-step__description.case-step__description--v2!= description
		picture.case-preview__logo.case-step__logo--v2
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.png`)
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@2x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@2x.png`)
			source(srcset=`images/content/${image}.webp`, type="image/webp")
			img(src=`images/content/${image}.png`, alt="Фон")

mixin step-v3(props)
	- const { title, description, image } = props;

	h3.case-step__title.case-step__title--v3!= title
	div.case-step__description.case-step__description--v3!= description
	picture.case-preview__logo.case-step__logo--v3
		source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.webp`, type="image/webp")
		source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.png`)
		source(media="(min-width: 1300px)", srcset=`images/content/${image}@2x.webp`, type="image/webp")
		source(media="(min-width: 1300px)", srcset=`images/content/${image}@2x.png`)
		source(srcset=`images/content/${image}@x.webp`, type="image/webp")
		img(src=`images/content/${image}@x.png`, alt="Фон")

mixin step-v4(props)
	- const { title, description, image } = props;

	h3.case-step__title.case-step__title--v4!= title
	div.case-step__description.case-step__description--v4!= description
	picture.case-preview__logo.case-step__logo--v4
		source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.webp`, type="image/webp")
		source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.png`)
		source(media="(min-width: 1300px)", srcset=`images/content/${image}@2x.webp`, type="image/webp")
		source(media="(min-width: 1300px)", srcset=`images/content/${image}@2x.png`)
		source(srcset=`images/content/${image}@x.webp`, type="image/webp")
		img(src=`images/content/${image}@x.png`, alt="Фон")
