mixin step-v1(props)
	- const { title, description, image } = props;

	li.case-step.case-step--v1
		div.case-step__wrapper
			h3.case-step__title!= title
			div.case-step__description.case-step__description--v1!= description
		picture.case-step__image
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.png`)
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@2x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@2x.png`)
			source(srcset=`images/content/${image}.webp`, type="image/webp")
			img(src=`images/content/${image}.png`, alt="Site pages")

mixin step-v2(props)
	- const { title, description, image } = props;

	li.case-step.case-step--v2
		div.case-step__wrapper
			h3.case-step__title!= title
			div.case-step__description!= description
		picture.case-step__image
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.png`)
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@2x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@2x.png`)
			source(srcset=`images/content/${image}.webp`, type="image/webp")
			img(src=`images/content/${image}.png`, alt="Site pages")

mixin step-v3(props)
	- const { title, description, image } = props;

	li.case-step.case-step--v3
		div.case-step__wrapper
			h3.case-step__title!= title
			div.case-step__description!= description
		picture.case-step__image
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.png`)
			source(media="(min-width: 1300px)", srcset=`images/content/${image}@2x.webp`, type="image/webp")
			source(media="(min-width: 1300px)", srcset=`images/content/${image}@2x.png`)
			source(srcset=`images/content/${image}.webp`, type="image/webp")
			img(src=`images/content/${image}.png`, alt="Site pages")

mixin step-v4(props)
	- const { title, description, image } = props;

	li.case-step.case-step--v4
		div.case-step__wrapper
			h3.case-step__title!= title
			div.case-step__description!= description
		picture.case-step__image
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.webp`, type="image/webp")
			source(media="(min-width: 2500px)", srcset=`images/content/${image}@3x.png`)
			source(media="(min-width: 1300px)", srcset=`images/content/${image}@2x.webp`, type="image/webp")
			source(media="(min-width: 1300px)", srcset=`images/content/${image}@2x.png`)
			source(srcset=`images/content/${image}.webp`, type="image/webp")
			img(src=`images/content/${image}.png`, alt="Site pages")
