include home-team-data

div.home-team__slider.team-slider.swiper
	div.team-slider__swiper
		ul.team-slider__wrapper.swiper-wrapper
			each slide in teamSlides
				li.team-slider__slide.swiper-slide
					// изображение
					picture.team-slider__picture
						source(srcset=`images/content/${slide.image}.webp`, type="image/webp")
						img(src=`images/content/${slide.image}.jpg`, alt=slide.name)
					// информация
					div.team-slider__wrapper
						// имя, статус и город
						div.team-slider__top-wrap
							h3.team-slider__title.sub-title!= slide.name
							span.team-slider__status!= slide.status
							span.team-slider__city!= slide.city
						// специализация
						p.team-slider__specialization!= slide.specialization
	div.team-slider__navigation
		div.team-slider__buttons
			// перейти на предыдущий слайд
			button.team-slider__button.team-slider__button--prev(type="button")
				span.visually-hidden Предыдущий слайд
				svg(width="48", height="48", aria-hidden="true")
					use(xlink:href="images/sprite.svg#arrow-swiper-prev")
			// перейти на следующий слайд
			button.team-slider__button.team-slider__button--next(type="button")
				span.visually-hidden Следующий слайд
				svg(width="48", height="48", aria-hidden="true")
					use(xlink:href="images/sprite.svg#arrow-swiper-next")
		// открыть модальное окно "проконсультироваться"
		+button('Давайте встретимся!').team-slider__modal-open
