mixin serviceCard(props)
	- const { title, description, more, background } = props;

	div.service-card&attributes(attributes)
		h3.service-card__title
			a(href="index.html")!= title
		p.service-card__description!= description
		span.service-card__more!= more
		picture.service-card__background(aria-hidden="true")
			source(media="(min-width: 1200px)", srcset=`images/common/${background}-3.svg`)
			source(media="(min-width: 600px)", srcset=`images/common/${background}-2.svg`)
			img(src=`images/common/${background}-1.svg`, alt="")
